<head>
    <title>Unc0mmonHAx</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<!--[if lte IE 6]>
    <style type="text/css">
    	#container {
    		height: 100%;
    	}
    </style>
    <![endif]-->
	<script>
		
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body>
<a id="mlh-trust-badge" style="position:fixed;top:0;left:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>
    <section id="wrapper">
		<div id="date" class="title-text">
			apr 16 - 17
		</div>
		<div id="logo"></div>
		<a id="link" href="https://docs.google.com/forms/d/1vvmrnwo3aI_aohaja0o2_6ohy-Sd5TELFo2eG5duy7A/viewform?c=0&w=1&usp=send_form">
			<div id="start-text" class="title-text">
				apply now
			</div>
		</a>
		<div id="layer">
		</div>
	</div>
	<div id ="ABOUT"></div>
	<div id ="Schedule"></div>
	<div id ="Partners"></div>
	<div id ="Sponsors"></div>
	<div id ="FAQ"></div>
	<div id ="contactus"></div>
	<footer></footer>
	
	<script>
		//make skeltal appear
		
		//add all other actions we talked about
		
	</script>
</body>

