<!--
	  ______ .______       _______  _______   __  .___________.    _______.   .___________.  ______
 /      ||   _  \     |   ____||       \ |  | |           |   /       |   |           | /  __  \   _
|  ,----'|  |_)  |    |  |__   |  .--.  ||  | `---|  |----`  |   (----`   `---|  |----`|  |  |  | (_)
|  |     |      /     |   __|  |  |  |  ||  |     |  |        \   \           |  |     |  |  |  |
|  `----.|  |\  \----.|  |____ |  '--'  ||  |     |  |    .----)   |          |  |     |  `--'  |  _
 \______|| _| `._____||_______||_______/ |__|     |__|    |_______/           |__|      \______/  (_)

     _______.___________. _______ .______    __    __   _______ .__   __.     __    __   __    __   __    __
    /       |           ||   ____||   _  \  |  |  |  | |   ____||  \ |  |    |  |  |  | |  |  |  | |  |  |  |
   |   (----`---|  |----`|  |__   |  |_)  | |  |__|  | |  |__   |   \|  |    |  |__|  | |  |  |  | |  |__|  |
    \   \       |  |     |   __|  |   ___/  |   __   | |   __|  |  . `  |    |   __   | |  |  |  | |   __   |
.----)   |      |  |     |  |____ |  |      |  |  |  | |  |____ |  |\   |    |  |  |  | |  `--'  | |  |  |  |
|_______/       |__|     |_______|| _|      |__|  |__| |_______||__| \__|    |__|  |__|  \______/  |__|  |__|

 _______         __      __  ___  __    __       ___       __       _______  _______
|       \       |  |    |  |/  / |  |  |  |     /   \     |  |     |   ____||       \
|  .--.  |      |  |    |  '  /  |  |__|  |    /  ^  \    |  |     |  |__   |  .--.  |
|  |  |  |.--.  |  |    |    <   |   __   |   /  /_\  \   |  |     |   __|  |  |  |  |
|  '--'  ||  `--'  |    |  .  \  |  |  |  |  /  _____  \  |  `----.|  |____ |  '--'  |
|_______/  \______/     |__|\__\ |__|  |__| /__/     \__\ |_______||_______||_______/

       __    ______    __    __  .__   __.      ______  _______ .__   __.      ___
      |  |  /  __  \  |  |  |  | |  \ |  |     /      ||   ____||  \ |  |     /   \
      |  | |  |  |  | |  |__|  | |   \|  |    |  ,----'|  |__   |   \|  |    /  ^  \
.--.  |  | |  |  |  | |   __   | |  . `  |    |  |     |   __|  |  . `  |   /  /_\  \
|  `--'  | |  `--'  | |  |  |  | |  |\   |    |  `----.|  |____ |  |\   |  /  _____  \
 \______/   \______/  |__|  |__| |__| \__|     \______||_______||__| \__| /__/     \__\
-->
<head>
    <title>&#220;n&#231;&#246;mm&#246;n Ha&#162;ks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
       <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
	<link rel="stylesheet" href="/stylesheets/social-buttons.css">
	<!--[if lte IE 6]>
    <style type="text/css">
    	#container {
    		height: 100%;
    	}
    </style>
    <![endif]-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-53428997-4', 'auto');
		  ga('send', 'pageview');

	</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
	for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
	mixpanel.init("4931c16cd5717745cda71666233b5fce");</script><!-- end Mixpanel -->
	<script>mixpanel.track("Front Page");</script>

</head>
<body id="bootstrap-tweaks">

<a id="mlh-trust-badge" style="position:fixed;top:0;left:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>

<!-- skeltal doot doot -->
<a href="https://www.facebook.com/uncommonhacks/photos/a.1129539923730357.1073741828.1129538927063790/1129539910397025/?type=3&permPage=1" target="_blank"><div id="skeltal"></div></a>
    <section id="tv">
		<div id="date" class="title-text">
			apr 16 - 17
		</div>
		<div id="logo"></div>
		<a id="link" href="https://www.uncommonhacks.com/apply">
			<div id="start-text" class="title-text">
				apply now
			</div>
		</a>
		<div id="layer">
		</div>
		<h3 id="remote-text">change the channel?</h3>
		<img id="remote" src="/images/remote.png" height="300" ></img>
	</section>
	<section id ="about">
		<div class="container">
			<h1 class="section-title"><a href="http://bit.ly/1NEq2Oe" class="no-underline">the first m3m3-based hackathon</a></h1>
			<div class="summary">it's better to be quirky. come discover and expand the limits of your quirkiness and creativity while innovating, designing, and exploring technology. the most exciting and anticipated experience under the title of "hackathon" you will ever be a part of. </div>
			<div class = "summary">located in the chicago innovation exchange (CIE), a beautiful incubator space, you will get to spend 24 hours hacking away with memes and cutting edge technology for facetime with companies, learning experiences with mentors, and an unforgettable memory.</div>
			<div class="summary">dank? nah, uncommon.</div>
		</div>
	</section>
	<section id ="schedule">
		<h1 class="section-title"><a href="http://bit.ly/1Uy9gpJ" class="no-underline">schedule</a></h1>
		<div class="summary">coming soon...</div>
	</section>
	<section id ="sponsors">
		<div class="container">
		<div><h1 class="section-title"><a href="http://bit.ly/1Uy9gpJ" class="no-underline">sponsors</a></h1></div>
		<div class="contact">contact sponsors@uncommonhacks.com</div>
		<div class="tier-1">
            <div class="col-md-6 hover-grey">
				<figure>
                <a href="http://www.thielfoundation.org/" target="_blank"><img class="img-responsive" src="/images/thiel-foundation-logo.png"></a>
				</figure>
            </div>
            <div class="col-md-6 hover-grey">
				<figure>
                <a href="http://sg.uchicago.edu/uncommon-fund/" target="_blank"><img class="img-responsive" src="/images/the-uncommon-fund.png"></a>
				</figure>
            </div>
		</div>
		<div class="tier-2">
            <div class="col-md-4 hover-grey">
				<figure>
                <a href="http://www.dcmllc.com/" target="_blank"><img class="img-responsive" src="/images/duchossis-fund.png"></a>
				</figure>
            </div>
            <div class="col-md-4 hover-grey">
				<figure>
                <a href="https://www.twilio.com/" target="_blank"><img class="img-responsive" src="/images/twilio-logo.png"></a>
				</figure>
            </div>
            <div class="col-md-4 hover-grey">
				<figure>
                <a href="http://www.group1.com/" target="_blank"><img class="img-responsive" src="/images/group1-logo.png"></a>
				</figure>
            </div>
		</div>
		<div class="tier-3">
            <div class="col-md-3 hover-grey">
				<figure>
                <a href="http://www.exis.io/" target="_blank"><img class="img-responsive" src="/images/exis-logo.png"></a>
				</figure>
            </div>
            <div class="col-md-3 hover-grey">
				<figure>
                <a href="http://www.belvederetrading.com/" target="_blank"><img class="img-responsive" src="/images/belvedere.png"></a>
				</figure>
            </div>
            <div class="col-md-3 hover-grey">
				<figure>
                <a href="http://www.1517fund.com/" target="_blank"><img class="img-responsive" src="/images/1517-logo.png"></a>
				</figure>
            </div>
            <div class="col-md-3 hover-grey">
				<figure>
                <a href="http://www.horizonpharma.com/" target="_blank"><img class="img-responsive" src="/images/horizon-logo.png"></a>
				</figure>
            </div>
		</div>
            <div class="clearfix"></div>
		<div class="tier-4">
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="https://www.soylent.com/" target="_blank"><img class="img-responsive" src="/images/soylent.png"></a>
				</figure>
            </div>
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="https://www.hackerrank.com/" target="_blank"><img class="img-responsive" src="/images/hackerrank.png"></a>
				</figure>
            </div>
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="http://www.redbull.com/en" target="_blank"><img class="img-responsive" src="/images/redbull.png"></a>
				</figure>
            </div>
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="http://get.tech/" target="_blank"><img class="img-responsive" src="/images/get-tech.png"></a>
				</figure>
            </div>
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="https://cleancoders.com/" target="_blank"><img class="img-responsive" src="/images/clean-coders.png"></a>
				</figure>
            </div>
            <div class="col-md-2 hover-grey">
				<figure>
                <a href="http://www.kindsnacks.com/" target="_blank"><img class="img-responsive" src="/images/kind.png"></a>
				</figure>
			 </div>
		</div>
            <div class="clearfix"></div>
		<h1 class="section-title"><a href="http://bit.ly/1RSER7L">partners</a></h1>
    <div class="partner-1 margin-bottom">
            <div class="col-md-6 hover-grey">
				<figure>
                <a href="http://edge.uchicago.edu/" target="_blank"><img class="img-responsive" src="/images/edge-logo.png"></a>
				</figure>
            </div>
		</div>
    <div class="clearfix"></div>
		</div>
	</section>
	<section id ="faq">
		<div class="container">
			<h1 class="section-title">faq</h1>
			<div class="row">
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what's a hackathon?</h1>
							<div class="answer">hackathons are hacking marathons where attendees are encouraged to collaborate to anything! hackers will be provided an environment full of fun and support to make sure the necessary tools are provided to create excellent things, have fun, and make lasting memories.</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">do i need a team?</h1>
							<div class="answer">nope, you can hack solo! but you are encouraged to meet new friends and create teams. there will be a designated time to meet other hackers! </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">how much does it cost?</h1>
							<div class="answer">attendees do not need to pay anything. uncommon hacks will provide wifi, meals, swag, workspace, and limited transportation</div>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">when is uncommon hacks?</h1>
							<div class="answer">thats for us to know and for you to figure out. ha ha jk. event starts APR 16, 9AM and ends APR 17, 5PM. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">where is uncommon hacks?</h1>
							<div class="answer">the beautiful Chicago Innovation Exchange space, 2nd Floor, 1452 E 53rd St, Chicago, IL, 60615. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what can i build?</h1>
							<div class="answer">uncommon hacks encourages you to build the most creative projects you can think of. this is a safe space to create the weirdest, the quirkiest, and the most amazing projects ever. the environment and events will support this.</div>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what should i bring?</h1>
							<div class="answer">attendees should bring a valid form of ID. other recommended items are: laptops, blankets or sleeping bags, toiletries, chargers, and whatever might bring you more success!</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what if i have another question?</h1>
							<div class="answer">tweet us @uncommonhacks or email celery@uncommonhacks.com or support@uncommonhacks.com!</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">do you have a code of conduct?</h1>
							<div class="answer">yes we abide by the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">major league hacking code of conduct</a></div>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what's special about uncommon hacks?</h1>
							<div class="answer">this hackathon is unreal. expect to never forget the experience with real memes, a john cena API challenge, and lots of fun. the team has worked intensely to create an environment where creative juices can flow best.</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">how big can teams be?</h1>
							<div class="answer">teams can be as big as 4 and as small as 1 </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">i'm an international student. can i attend?</h1>
							<div class="answer">absolutely, the event will accept international students! uncommon hacks will do its best to reimburse students that require travel reimbursements.</div>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">i'm a high school student. can i attend?</h1>
							<div class="answer">this is tentative at the moment. we encourage you to apply regardless.</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">is my cursor brittany spears or hilary duff?</h1>
							<div class="answer">yes.</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="question">
							<h1 class="faq-title">what is the significance of celery?</h1>
							<div class="answer">here. also annie doesnt like celery. </div>
						</div>
					</div>
			</div>
		</div>
			<div class="summary">yes we abide by the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">major league hacking code of conduct</a></div>
	</section>
	<section id ="contactus">
		<div class="container">
		<h1 class="section-title">contact us</h1>
		<div class="summary">got questions? email us at celery@uncommonhacks.com or support@uncommonhacks.com. we'll do our best to help you out.</div>
		</div>
	</section>
	<footer id="footer-id">
		<p class="title-text footer-text">SHARE US</p>
	    <a href="http://twitter.com/uncommonhacks" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
		<a href="http://facebook.com/uncommonhacks" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
	</footer>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/g-sgw9bPV4A" frameborder="0"  allowfullscreen></iframe>

	<script src="js/social-buttons.js"></script>
	<script src="js/fun.js"></script>
</body>
