<!--
	  ______ .______       _______  _______   __  .___________.    _______.   .___________.  ______               
 /      ||   _  \     |   ____||       \ |  | |           |   /       |   |           | /  __  \   _          
|  ,----'|  |_)  |    |  |__   |  .--.  ||  | `---|  |----`  |   (----`   `---|  |----`|  |  |  | (_)         
|  |     |      /     |   __|  |  |  |  ||  |     |  |        \   \           |  |     |  |  |  |             
|  `----.|  |\  \----.|  |____ |  '--'  ||  |     |  |    .----)   |          |  |     |  `--'  |  _          
 \______|| _| `._____||_______||_______/ |__|     |__|    |_______/           |__|      \______/  (_)         
                                                                                                              
     _______.___________. _______ .______    __    __   _______ .__   __.     __    __   __    __   __    __  
    /       |           ||   ____||   _  \  |  |  |  | |   ____||  \ |  |    |  |  |  | |  |  |  | |  |  |  | 
   |   (----`---|  |----`|  |__   |  |_)  | |  |__|  | |  |__   |   \|  |    |  |__|  | |  |  |  | |  |__|  | 
    \   \       |  |     |   __|  |   ___/  |   __   | |   __|  |  . `  |    |   __   | |  |  |  | |   __   | 
.----)   |      |  |     |  |____ |  |      |  |  |  | |  |____ |  |\   |    |  |  |  | |  `--'  | |  |  |  | 
|_______/       |__|     |_______|| _|      |__|  |__| |_______||__| \__|    |__|  |__|  \______/  |__|  |__| 
                                                                                                              
 _______         __      __  ___  __    __       ___       __       _______  _______                          
|       \       |  |    |  |/  / |  |  |  |     /   \     |  |     |   ____||       \                         
|  .--.  |      |  |    |  '  /  |  |__|  |    /  ^  \    |  |     |  |__   |  .--.  |                        
|  |  |  |.--.  |  |    |    <   |   __   |   /  /_\  \   |  |     |   __|  |  |  |  |                        
|  '--'  ||  `--'  |    |  .  \  |  |  |  |  /  _____  \  |  `----.|  |____ |  '--'  |                        
|_______/  \______/     |__|\__\ |__|  |__| /__/     \__\ |_______||_______||_______/                         
                                                                                                              
       __    ______    __    __  .__   __.      ______  _______ .__   __.      ___                            
      |  |  /  __  \  |  |  |  | |  \ |  |     /      ||   ____||  \ |  |     /   \                           
      |  | |  |  |  | |  |__|  | |   \|  |    |  ,----'|  |__   |   \|  |    /  ^  \                          
.--.  |  | |  |  |  | |   __   | |  . `  |    |  |     |   __|  |  . `  |   /  /_\  \                         
|  `--'  | |  `--'  | |  |  |  | |  |\   |    |  `----.|  |____ |  |\   |  /  _____  \                        
 \______/   \______/  |__|  |__| |__| \__|     \______||_______||__| \__| /__/     \__\                       
-->
<head>
    <title>&#220;n&#231;&#246;mm&#246;n Ha&#162;ks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css" />
       <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css'>
	<link rel="stylesheet" href="/stylesheets/social-buttons.css">
	<!--[if lte IE 6]>
    <style type="text/css">
    	#container {
    		height: 100%;
    	}
    </style>
    <![endif]-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-53428997-4', 'auto');
		  ga('send', 'pageview');

	</script>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
	for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
	mixpanel.init("4931c16cd5717745cda71666233b5fce");</script><!-- end Mixpanel -->
	<script>mixpanel.track("Front Page");</script>

</head>
<body>

<a id="mlh-trust-badge" style="position:fixed;top:0;left:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>

<!-- skeltal doot doot -->
<a href="https://www.facebook.com/uncommonhacks/photos/a.1129539923730357.1073741828.1129538927063790/1129539910397025/?type=3&permPage=1" target="_blank"><div id="skeltal"></div></a>
    <section id="tv">
		<div id="date" class="title-text">
			apr 16 - 17
		</div>
		<div id="logo"></div>
		<a id="link" href="https://docs.google.com/forms/d/1vvmrnwo3aI_aohaja0o2_6ohy-Sd5TELFo2eG5duy7A/viewform?c=0&w=1&usp=send_form">
			<div id="start-text" class="title-text">
				apply now
			</div>
		</a>
		<div id="layer">
		</div>
		<h3 id="remote-text">change the channel?</h3>
		<img id="remote" src="/images/remote.png" height="300" ></img>
	</section>
	<section id ="about">
		<h1 class="section-title">the <a href="http://bit.ly/1NEq2Oe" class="no-underline">oddest hackathon</a></h1>
		<div class="summary">it's better to be quirky. come discover and expand the limits of your quirkiness and creativity while innovating, designing, and exploring technology. the most exciting and anticipated experience under the title of "hackathon" you will ever be a part of. </div>
		<div class = "summary">located in the chicago innovation exchange (CIE), a beautiful incubator space, you will get to spend 24 hours hacking away with memes and cutting edge technology for facetime with companies, learning experiences with mentors, and an unforgettable memory.
		</div>
	</section>
	<section id ="schedule">
		<h1 class="section-title">schedule</h1>
		<div class="summary">coming soon...</div>
	</section>
	<section id ="sponsors">
		<div><h1 class="section-title">sponsors</h1></div>
		<div class="contact">contact sponsors@uncommonhacks.com</div>
		<div class="tier-1">
		</div>
		<div class="tier-2">
		</div>
		<div class="tier-3">
		</div>
		<h1 class="section-title">partners</h1>
	</section>
	<section id ="faq">
		<h1 class="section-title">is there a code of conduct?</h1>	
		<div class="summary">yes we abide by the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">major league hacking code of conduct</a></div>
	</section>
	<section id ="contactus">
		<h1 class="section-title">contact us</h1>
		<div class="summary">got questions? email us at celery@uncommonhacks.com or support@uncommonhacks.com. we'll do our best to help you out.</div>
	</section>
	<footer id="footer-id">
		<p class="title-text footer-text">SHARE US</p>
	    <a href="http://twitter.com/uncommonhacks" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
		<a href="http://facebook.com/uncommonhacks" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
	</footer>

	
	<script src="js/social-buttons.js"></script>
	<script src="js/fun.js"></script>
</body>

