/*
<div align="center" style="z-index:9;visibility:visible;"><a href="http://www.totallyfreecursors.com/" target="_blank" class="tfc"><img src="http://downloads.totallyfreecursors.com/public/CursorsLogo88-31.gif" border="0" width="88" height="31" alt="Free Hilary Duff Cursors at www.totallyfreecursors.com" /></a></div><style>HTML,BODY{cursor: url("http://downloads.totallyfreecursors.com/cursor_files/hilaryduff.cur"), url("http://downloads.totallyfreecursors.com/thumbnails/hilary-duff.gif"), auto;}</style>



*/
* {
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
  cursor: url("http://downloads.totallyfreecursors.com/cursor_files/hilaryduff.cur"), url("http://downloads.totallyfreecursors.com/thumbnails/hilary-duff.gif"), auto;
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 62.5%; } //set all fonts to 10px for rem usage


//Headings for all sections
h1 {
	font-size: 2.4rem;
}

a {
	color: inherit;
}

a:hover{
	cursor: url(http://cur.cursors-4u.net/people/peo-8/peo954.ani), url(http://cur.cursors-4u.net/people/peo-8/peo954.png), initial;
}
//
h2 {
	text-align: center;
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

//blurb sections

footer {
	height: 12vh;
	background-color: black;
	opacity: 0.80;
}

#footer-id{
	text-align: center;
}

#social-buttons {
	position: fixed;
}
#start-text {
  z-index: 302;
  position: absolute;
  margin: auto;
  top: 30;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  height: 50px;
  width: 150px;
  font-size: 1.4rem; }

#start-text:hover {
  color: pink;
  border: 1px solid pink; }

#remote-text {
  letter-spacing: 3px;
  color: white;
  z-index: 304;
  position: absolute;
  margin: auto;
  bottom: 320;
  left: 10;
  font-size: 1.4rem;
}

.title-text {
  line-height: 50px;
  //line-height and height == same for text center 
  color: white;
  text-align: center;
  letter-spacing: 3px; }

.footer-text{
	line-height: initial;
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 0px;
}


#tv {
  min-height: 100%;
  background: url("/images/offline.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 300;
  }

#layer {
  min-height: 100%;
  z-index: 301;
  opacity: 0.30;
  background-image: url("/images/static.gif"); }

#remote {
	position: absolute;
	bottom: 10;
	left: 50;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	//add hand later
}

#remote:hover {
	cursor:pointer;
	opacity: 0.85;
}
#start-text {
  z-index: 302;
  position: absolute;
  margin: auto;
  top: 30;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  height: 50px;
  width: 150px;
  font-size: 1.4rem; }

#start-text:hover {
  color: pink;
  border: 1px solid pink; }

#link {
  cursor: pointer; }

#logo {
  background-image: url("/images/logo-uncommonhacks.png");
  top: 0;
  left: 0;
  bottom: 130;
  right: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  height: 101px;
  z-index: 302; }

#date {
  position: absolute; 
  margin: auto;
  bottom: 260;
  left: 0;
  right: 0;
  font-size: 1.0rem; }

/**********************
 **********************
 **********************
Explanatory Sections
***********************
***********************/
.section-title {
	font-size: 4.0rem;
	color: white;
	margin-top: 40px;
	margin-left: 40px;
	padding-bottom: 10px;
	border-bottom: 5px solid #FFF;
	display: inline-block;
}


#about {
	height: 70vh;
	background-image: url("/images/desk.jpg"); 
	background-size: cover;
	opacity: 0.9;
}

#schedule {
	@extend #about;
	opacity: 0.3;
	height: 0vh;
	background-color: red;
}

#sponsors {
	@extend #about;
	background-image: none;
	opacity: 0.8;
	height: 60vh;
	background-color: black;
}
#faq {
	@extend #about;
	background-image: url("/images/space-coworking.jpg");
	height: 40vh;
}

#contactus{
	@extend #about;
	background-image: none;
	background-color: black;
	height: 40vh;
}

.contact {
	@extend .section-title;
	font-size: 3.0rem;
	border-bottom: none;
}

#partners{
	@extend #about;
	visibility: hidden;
	height: 200px;
	background-color: blue;
}


#skeltal{
	position: fixed;
	float: right;
	top: 10;
	right: 10;
	background-image: url("/images/skeltal-square.jpg");
	width: 300px;
	height: 300px;
	z-index: 303;
}

.summary {
	line-height: 3.5rem;
	margin-top: 20px;
	margin-left: 40px;
	width: 75vh;
	font-size: 1.4rem;
	color: white;
}

//images for sponsors and partners
.partner {
	visibility: hidden;
	width: 100px; //make sure to maintain dimensions for image resizing
	height: 100px;
}

/**********************
 **********************
 **********************
 MISC
***********************
***********************/

.no-underline {
	text-decoration: none;

}

/*# sourceMappingURL=style.css.map */

