* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

h1 {
  font-size: 2.4rem; }

a {
  color: inherit; }

h2 {
  text-align: center;
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

footer {
  height: 12vh;
  background-color: black;
  opacity: 0.80; }

#footer-id {
  text-align: center; }

#social-buttons {
  position: fixed; }

#start-text {
  z-index: 302;
  position: absolute;
  margin: auto;
  top: 30;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  height: 50px;
  width: 150px;
  font-size: 1.4rem; }

#start-text:hover {
  color: pink;
  border: 1px solid pink; }

#remote-text {
  letter-spacing: 3px;
  color: white;
  z-index: 304;
  position: absolute;
  margin: auto;
  bottom: 320;
  left: 10;
  font-size: 1.4rem; }

.title-text {
  line-height: 50px;
  color: white;
  text-align: center;
  letter-spacing: 3px; }

.footer-text {
  line-height: initial;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 0px; }

#tv {
  min-height: 100%;
  background: url("/images/offline.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 300; }

#layer {
  min-height: 100%;
  z-index: 301;
  opacity: 0.30;
  background-image: url("/images/static.gif"); }

#remote {
  position: absolute;
  bottom: 10;
  left: 50;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

#remote:hover {
  cursor: pointer;
  opacity: 0.85; }

#start-text {
  z-index: 302;
  position: absolute;
  margin: auto;
  top: 30;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  height: 50px;
  width: 150px;
  font-size: 1.4rem; }

#start-text:hover {
  color: pink;
  border: 1px solid pink; }

#link {
  cursor: pointer; }

#logo {
  background-image: url("/images/logo-uncommonhacks.png");
  top: 0;
  left: 0;
  bottom: 130;
  right: 0;
  margin: auto;
  position: absolute;
  width: 300px;
  height: 101px;
  z-index: 302; }

#date {
  position: absolute;
  margin: auto;
  bottom: 260;
  left: 0;
  right: 0;
  font-size: 1.0rem; }

/**********************
 **********************
 **********************
Explanatory Sections
***********************
***********************/
.section-title, .contact {
  font-size: 4.0rem;
  color: white;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 10px;
  border-bottom: 5px solid #FFF;
  display: inline-block; }

#about, #schedule, #sponsors, #faq, #contactus, #partners {
  height: 70vh;
  background-image: url("/images/space-coworking.jpg");
  background-size: cover;
  opacity: 0.9; }

#schedule {
  opacity: 0.3;
  height: 0vh;
  background-color: red; }

#sponsors {
  background-image: none;
  opacity: 0.8;
  height: 60vh;
  background-color: black; }

#faq {
  height: 40vh; }

#contactus {
  background-image: none;
  background-color: black;
  height: 40vh; }

.contact {
  font-size: 3.0rem;
  border-bottom: none; }

#partners {
  visibility: hidden;
  height: 200px;
  background-color: blue; }

#skeltal {
  position: fixed;
  float: right;
  top: 10;
  right: 10;
  background-image: url("/images/skeltal-square.jpg");
  width: 300px;
  height: 300px;
  z-index: 303; }

.summary {
  line-height: 3.5rem;
  margin-top: 20px;
  margin-left: 40px;
  width: 75vh;
  font-size: 1.4rem;
  color: white; }

.partner {
  visibility: hidden;
  width: 100px;
  height: 100px; }

/**********************
 **********************
 **********************
 MISC
***********************
***********************/
.no-underline {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
